<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>WorkflowproDisplay</servlet-name>
  	<display-name>WorkflowproDisplay</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproDisplay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproNewTask</servlet-name>
  	<display-name>WorkflowproNewTask</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproNewTask</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproNewTaskRegister</servlet-name>
  	<display-name>WorkflowproNewTaskRegister</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproNewTaskRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproTaskStart</servlet-name>
  	<display-name>WorkflowproTaskStart</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproTaskStart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproTaskEnd</servlet-name>
  	<display-name>WorkflowproTaskEnd</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproTaskEnd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproUpdate</servlet-name>
  	<display-name>WorkflowproUpdate</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproUpdateRegister</servlet-name>
  	<display-name>WorkflowproUpdateRegister</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproUpdateRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproUpdateBack</servlet-name>
  	<display-name>WorkflowproUpdateBack</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproUpdateBack</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproSearchByAll</servlet-name>
  	<display-name>WorkflowproSearchByAll</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproSearchByAll</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproSearchPage</servlet-name>
  	<display-name>WorkflowproSearchPage</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproSearchPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproEmployee</servlet-name>
  	<display-name>WorkflowproEmployee</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproEmployeeRegister</servlet-name>
  	<display-name>WorkflowproEmployeeRegister</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproEmployeeRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproEmployeeRetrieveDisplay</servlet-name>
  	<display-name>WorkflowproEmployeeRetrieveDisplay</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproEmployeeRetrieveDisplay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproChartDisplay</servlet-name>
  	<display-name>WorkflowproChartDisplay</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproChartDisplay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproGroupByStatusDisplay</servlet-name>
  	<display-name>WorkflowproGroupByStatusDisplay</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproGroupByStatusDisplay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproSearchByDate</servlet-name>
  	<display-name>WorkflowproSearchByDate</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproSearchByDate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproSearchByName</servlet-name>
  	<display-name>WorkflowproSearchByName</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproSearchByName</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproEmployeeAfter</servlet-name>
  	<display-name>WorkflowproEmployeeAfter</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproEmployeeAfter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproEmployeeRetrieveForUpdatePage</servlet-name>
  	<display-name>WorkflowproEmployeeRetrieveForUpdatePage</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproEmployeeRetrieveForUpdatePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproEmployeeChangeDelete</servlet-name>
  	<display-name>WorkflowproEmployeeChangeDelete</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproEmployeeChangeDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproEmployeeChangeDeleteModify</servlet-name>
  	<display-name>WorkflowproEmployeeChangeDeleteModify</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproEmployeeChangeDeleteModify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproEmployeeChangeBack</servlet-name>
  	<display-name>WorkflowproEmployeeChangeBack</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproEmployeeChangeBack</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproFilesDownload</servlet-name>
  	<display-name>WorkflowproFilesDownload</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproFilesDownload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproUpdateUpload</servlet-name>
  	<display-name>WorkflowproUpdateUpload</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproUpdateUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproLogin</servlet-name>
  	<display-name>WorkflowproLogin</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproLogout</servlet-name>
  	<display-name>WorkflowproLogout</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproCommentsDisplay</servlet-name>
  	<display-name>WorkflowproCommentsDisplay</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproCommentsDisplay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkflowproCommentsRegister</servlet-name>
  	<display-name>WorkflowproCommentsRegister</display-name>
  	<description></description>
  	<servlet-class>com.company.workflowpro.controller.WorkflowproCommentsRegister</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WorkflowproDisplay</servlet-name>
  	<url-pattern>/WorkflowproDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproNewTask</servlet-name>
  	<url-pattern>/WorkflowproNewTask</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproNewTaskRegister</servlet-name>
  	<url-pattern>/WorkflowproNewTaskRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproTaskStart</servlet-name>
  	<url-pattern>/WorkflowproTaskStart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproTaskEnd</servlet-name>
  	<url-pattern>/WorkflowproTaskEnd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproUpdate</servlet-name>
  	<url-pattern>/WorkflowproUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproUpdateRegister</servlet-name>
  	<url-pattern>/WorkflowproUpdateRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproUpdateBack</servlet-name>
  	<url-pattern>/WorkflowproUpdateBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproSearchByAll</servlet-name>
  	<url-pattern>/WorkflowproSearchByAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproSearchPage</servlet-name>
  	<url-pattern>/WorkflowproSearchPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproEmployee</servlet-name>
  	<url-pattern>/WorkflowproEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproEmployeeRegister</servlet-name>
  	<url-pattern>/WorkflowproEmployeeRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproEmployeeRetrieveDisplay</servlet-name>
  	<url-pattern>/WorkflowproEmployeeRetrieveDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproChartDisplay</servlet-name>
  	<url-pattern>/WorkflowproChartDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproGroupByStatusDisplay</servlet-name>
  	<url-pattern>/WorkflowproGroupByStatusDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproSearchByDate</servlet-name>
  	<url-pattern>/WorkflowproSearchByDate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproSearchByName</servlet-name>
  	<url-pattern>/WorkflowproSearchByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproEmployeeAfter</servlet-name>
  	<url-pattern>/WorkflowproEmployeeAfter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproEmployeeRetrieveForUpdatePage</servlet-name>
  	<url-pattern>/WorkflowproEmployeeRetrieveForUpdatePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproEmployeeChangeDelete</servlet-name>
  	<url-pattern>/WorkflowproEmployeeChangeDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproEmployeeChangeDeleteModify</servlet-name>
  	<url-pattern>/WorkflowproEmployeeChangeDeleteModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproEmployeeChangeBack</servlet-name>
  	<url-pattern>/WorkflowproEmployeeChangeBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproFilesDownload</servlet-name>
  	<url-pattern>/WorkflowproFilesDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproUpdateUpload</servlet-name>
  	<url-pattern>/WorkflowproUpdateUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproLogin</servlet-name>
  	<url-pattern>/WorkflowproLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproLogout</servlet-name>
  	<url-pattern>/WorkflowproLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproCommentsDisplay</servlet-name>
  	<url-pattern>/WorkflowproCommentsDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkflowproCommentsRegister</servlet-name>
  	<url-pattern>/WorkflowproCommentsRegister</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>login.jsp</welcome-file>
  	<welcome-file>WorkflowproDisplay</welcome-file>  
  </welcome-file-list>  
  
</web-app>
